<div class="resume-page">

    <div class="resume-topbar">
        <span>My Resume</span>
      
        <div class="topbar-actions">
          <a class="btn btn-outline" routerLink="/">Home</a>
          <a href="assets/resume.pdf" download="Ramanathan_RK-CV" class="btn btn-primary">Download</a>
        </div>
      </div>
      
  
    <div class="resume-frame">
        <!-- <iframe src="assets/resume.pdf" loading="lazy"></iframe> -->

      <embed src="assets/resume.pdf" type="application/pdf">
    </div>
  
  </div>
  